body, html {
  height: 100%;
}

//blur the container when modal opens
body.modal-open .container{
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);
}

body {
    background-image: url("background_image.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}

.container{
    height: 100%;
  position: relative;
}

.center_div{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 35%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.title_name{
    font-size: 70px;
    color: white;
    padding-left: 50%;
}

.form_input_field{
    width: 170%;
    height: 70px;
    background: rgba(20, 15, 38, 0.648579);
    backdrop-filter: blur(44.119px);
    border: none;
    border-radius: 10px;
    margin-bottom: 30px;
}

input[type="text"] , input[type="password"] {
    padding-left: 30px;
    font-family: Montserrat;
    font-size: 20px;
}

.btn-primary{
    width: 170%;
    height: 70px;
    background: linear-gradient(314.33deg, #645AFF -3.69%, #A573FF 109.82%) !important;
    border: none;
    border-radius: 40px;
}

.btn-default{
    float: right;
    border: none;
}

.modal-header {
    border-bottom: 0 none;
}

.modal-footer {
    border-top: 0 none;
}
